# -------------------------------------------------------
# OS / Editor / System Files
# -------------------------------------------------------
*.log
.DS_Store
Thumbs.db

# IDE / Editor settings
/.idea
/.fleet
/.vscode
/.zed

# -------------------------------------------------------
# Environment Files (NEVER commit these)
# -------------------------------------------------------
.env
.env.backup
.env.production
auth.json

# -------------------------------------------------------
# Composer / PHP
# -------------------------------------------------------
/vendor
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/storage/*.key

# -------------------------------------------------------
# Laravel Framework Files
# -------------------------------------------------------
/storage/pail
/public/storage

# -------------------------------------------------------
# Node / Vite / React
# -------------------------------------------------------
/node_modules
/public/build
/public/hot

# -------------------------------------------------------
# Homestead (if applicable)
# -------------------------------------------------------
Homestead.json
Homestead.yaml

public/